@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "@styles/flickcityButtons/fickcityButtons";
@import "@styles/markdown/markdown";

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.sberbank_button {
  color: #21a038;
  height: 23px;
  width: 23px;
  margin-right: 5px;
}
